<!-- Bootstrap row -->
<div class="row" id="body-row" > 
    <!-- Sidebar -->
    <div class="d-none d-md-block" id="sidebar-container"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group" id="list-elements" routerLinkActive="addClasstoAttachLater">
            <!-- Menu with submenu -->  
            <a class="list-group-item" routerLink="About">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-pied-piper-alt fa-fw mr-3"></span> 
                    <span class="menu-collapsed">About</span>
                </div>
            </a>
            <a class="list-group-item" routerLink="Projects">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-user fa-fw mr-3"></span>
                    <span class="menu-collapsed">Projects</span>
                </div>
            </a>     
            <a class="list-group-item" routerLink="MyClicks">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-tasks fa-fw mr-3"></span>
                    <span class="menu-collapsed">My Clicks</span>    
                </div>
            </a> 
            <a class="list-group-item" href="/src/assets/Resume/Resume_DhvanilParikh.pdf" target="_blank"> 
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-tasks fa-fw mr-3"></span>
                        <span class="menu-collapsed">Resume</span>    
                    </div>
                </a> 
            <a class="list-group-item" routerLink="Contact">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-dashboard fa-fw mr-3"></span> 
                    <span class="menu-collapsed">Contact</span>
                </div>
            </a>
        </ul><!-- List Group END-->
    </div><!-- sidebar-container END -->

    <!-- MAIN -->
    <div class="col">
        <router-outlet></router-outlet>    
    </div><!-- Main Col END -->
    
</div><!-- body-row END -->