<!-- Bootstrap row -->
<div class="row" id="body-row" > 
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar-container">
        <!-- Bootstrap List Group -->
        <ul class="list-group" id="list-elements" routerLinkActive="addClasstoAttachLater">
            <!-- Menu with submenu -->  
            <a class="list-group-item" routerLink="/about">
                <div class="nDiv d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-pied-piper-alt fa-fw mr-3"></span> 
                    <span class="namer">About</span>
                </div>
            </a>
            <a class="list-group-item" routerLink="/projects">
                <div class="nDiv d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-user fa-fw mr-3"></span>
                    <span class="namer">Projects</span>
                </div>
            </a>     
            <a class="list-group-item" routerLink="/my-clicks">
                <div class="nDiv d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-tasks fa-fw mr-3"></span>
                    <span class="namer">My Clicks</span>    
                </div>
            </a> 
            <a class="list-group-item" routerLink="/resume"> 
                    <div class="nDiv d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-tasks fa-fw mr-3"></span>
                        <span class="namer">Resume</span>    
                    </div>
            </a> 
            <a class="list-group-item" routerLink="/contact">
                <div class="nDiv d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-dashboard fa-fw mr-3"></span> 
                    <span class="namer">Contact</span>
                </div>
            </a>
        </ul><!-- List Group END-->
    </div><!-- sidebar-container END -->

    <!-- MAIN -->
    <div class="col content" [@myAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
    </div><!-- Main Col END -->
    
</div><!-- body-row END -->
