$primary-bgcolor: rgba(0, 0, 0, 0.5)
$transparent: rgba(255, 255, 255, 0.00)
$transparent-dark: rgba(255, 255, 255, 0.13)
    
#body-row 
    margin-left: 0
    margin-right: 0
    background-color: $primary-bgcolor
    

#sidebar-container
    position: absoulte 
    min-height: 100vh  
    width: 150px 
    background-image: linear-gradient(to top right, $transparent-dark, $transparent)
    // border-style: solid
    // border-color: red

#list-elements
    position: absolute
    padding: 0px
    width: 146px
    left: 2px
    bottom: 0px
    // border-style: solid
    // border-color: green
       

/* Menu item*/
#sidebar-container .list-group a
    padding: 10px 
    color: white
    background-color: $transparent

#sidebar-container .list-group a:hover 
   color: #8c8c8c

.content
    // border-style: solid
    // border-color: blue
    padding: 0


@media screen and (max-width: 700px)
    #sidebar-container 
        position: absoulte 
        min-height: 100vh  
        width: 45px 
        background-image: linear-gradient(to top right, $transparent-dark, $transparent)
        // border-style: solid
        // border-color: red


    .sidebar .list-group .list-group-item .nDiv .namer
        text-indent: 100%
        white-space: nowrap
        overflow: hidden
    
    #list-elements
        position: absolute
        padding: 0px
        width: 41px
        left: 2px
        bottom: 0px
        // border-style: solid
        // border-color: green   
    
    .content
        // border-style: solid
        // border-color: blue
        padding: 0
