<div class="col" id="name">
    <div class="nameClass" style="clear: both">
        <h1 id="name1">I am </h1>
        <h1 id="name2">Dh</h1>
        <h1 id="name3">vanil </h1>
        <h1 id="name4">P</h1>
        <h1 id="name5">arikh</h1>
    </div>
    <div class="connect">
        <a href="http://github.com/dhvanilp" target="_blank">
            <span class="fa fa-github fa-fw fa-2x" style="color:aliceblue"></span>
        </a>
        <a href="https://twitter.com/DhvanilParikh" target="_blank">
            <span class="fa fa-twitter fa-fw fa-2x" style="color:aliceblue"></span>
        </a>
        <a href="https://www.instagram.com/__d__h__p__/" target="_blank">
            <span class="fa fa-instagram fa-fw fa-2x" style="color:aliceblue"></span>
        </a>
        <a href="https://www.linkedin.com/in/dhp07/" target="_blank">
            <span class="fa fa-linkedin fa-fw fa-2x" style="color:aliceblue"></span>
        </a>
    </div>
</div>
